<template>
  <div >
    <p
      v-bind:class="'lead'"
      v-html="intro_paragraph"/>
    <p>
      <a
        v-on:click="beginForm"
        class="btn btn-primary btn-large">{{ buttonText }}</a>
    </p>

    <template v-for="(section, index) in sections">
      <div v-bind:key="index">
        <h3
          v-if="section.heading"
          v-bind:key="index">{{ section.heading }}</h3>
        <p v-if="section.introduction">{{ section.introduction }}</p>
        <ul v-if="section.list">
          <li
            v-for="item in section.list"
            v-bind:key="item">
            {{ item }}
          </li>
        </ul>
        <template v-if="section.nestedContent" >
          <span v-html="section.nestedContent"/>
        </template>
        <p v-if="section.text">{{ section.text }}</p>
      </div>
    </template>
  </div>
</template>

<script>
import Navigation from '../../helpers/Navigation.js'

export default {
  name: `Introduction`,
  components:{
  },
  data() {
    return {
      intro_paragraph:
        `Create an event to be displayed on the public website, the staff intranet and/or the student intranet.`,
      buttonText: `Start now`,
      sections:[
        {
          heading: `Before you start`,
          introduction: `You'll need to provide the following details about the event:`,
          list: [
            `The name of the event`,
            `Description of the event`,
            `The location`,
            `Date and time`,
            `Any relevant booking details`,
            `Where you want to publish the event i.e. website, staff intranet or student intranet`,
            `Who the event is for e.g. students`,
            `Details of any other government support you get`
          ]
        },
        {
          introduction: `You can only add an event which occurs once. If you want to add a repeating event eg a regular workshop that takes place weekly, please contact:`,
          nestedContent:`
            <section class="contact" data-assetid="57419" data-paintlayoutid="65469" data-status="Live">
              <h1 class="contact-title">Digital Communications</h1>
              <ul class="list list-contact">
                <li>
                  <i class="icon-email"><span class="hidden-text">Email:</span></i>
                  <a href="mailto:web@cardiff.ac.uk">web@cardiff.ac.uk</a>
                </li>
                <li>
                  <i class="icon-phone"><span class="hidden-text">Telephone:</span></i>+44 (0)29 2251 0313
                </li>
                <li>
                  <i class="icon-campuses"><span class="hidden-text">Building: </span></i>
                  <a href="https://intranet.cardiff.ac.uk/staff/directories/university-buildings/view/friary-house">Friary House</a>
                </li>
                <li>
                  <i class="icon-users"><span class="hidden-text">Team:</span></i>
                  <a href="https://intranet.cardiff.ac.uk/staff/directories/university-staff-and-teams/view/41027-digital-communications">View team page</a>
                </li>
              </ul>
            </section>`
        }
      ]
    };
  },
  methods: {
    beginForm: function(event) {
      Navigation.update(2);
    }
  }
};
</script>
