<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'HelloWorld',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Who is the event for?',
      elements: [
        {
          label: 'Where would you like this event to be published?',
          placeholder: '',
          id: 'publishLocation',
          type: 'checkbox',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('publishLocation')
          
        },
        {
          label: 'Should this event display on the University\'s public events pages?',
          helpText: `If you choose no, the event will still appear on other relevant pages eg School event pages`,
          placeholder: '',
          id: 'searchable',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('searchable'),
          show:[
            {
              id: 'publishLocation',
              operator: 'contains',
              values: ['public']
            }
          ]
        },
        {
          label: 'Who is this event for?',
          placeholder: '',
          id: 'people',
          type: 'checkbox',
          extra: {
            required: true
          }
        }

      ]
    };
  }
 
}
</script>
