<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'State5',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Booking',
      elements: [
        {
          label: 'Location',
          placeholder: '',
          id: 'bookingRequired',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('bookingRequired')
        },
        {
          label: 'Web address to book the event',
          helpText: 'Enter the full web address, including http:// or https://',
          placeholder: '',
          class: 'span6',
          id: 'bookingUrl',
          type: 'text',
          extra: {
            required: true,
            validUrl: true
          },
          show: [
            {
              id: 'bookingRequired',
              operator: '=',
              values: ['Yes']
            }
          ]
        },
        {
          label: 'Addtional booking information',
          helpText: 'For example: email bookingforevent@cardiff.ac.uk to book.',
          placeholder: '',
          class: 'span6',
          id: 'bookingMessage',
          type: 'text',
          extra: {
            required: true
          },
          show: [
            {
              id: 'bookingRequired',
              operator: '=',
              values: ['Yes']
            }
          ]
        },
        {
          label: 'Is this event free?',
          placeholder: '',
          id: 'eventFree',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('eventFree')
        },
         {
          label: 'Cost',
          helpText: 'Include the currency symbol (eg £30)',
          placeholder: '',
          class: 'span4',
          id: 'price',
          type: 'text',
          extra: {
            required: true,
          },
          show: [
            {
              id: 'eventFree',
              operator: '=',
              values: ['No']
            }
          ]
        }
      ]
    };
  }
 
}
</script>
