<template>
  <div>
    <introduction v-if="$store.getters.currentState == 1"/>
    <div v-if="$store.getters.currentState == 2">
      <div class="span8">
        <h2>{{ name }}</h2>
        <template v-for="element in elements">
          <field-element
            v-bind:key="element.assetid"
            v-bind:element="element"/>
        </template>
        <navigation />
      </div>
    </div>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';
import Introduction from './Introduction.vue';
import Navigation from '../Navigation.vue';

export default {
  name: `State2`,
  components: {
    FieldElement,
    Introduction,
    Navigation
  },
  data() {
    return {
      name: `About the event`,
      elements: [
        {
          label: `Name`,
          placeholder: ``,
          class: `span5`,
          id: `name`,
          type: `text`,
          extra: {
            required: true
          },
          screen_reader: 'Event name',
          validation: [{ required: true, field_name: 'Test '}]
        },
        {
          label: `Summary`,
          helpText: `Summarise your event in one short sentence`,
          placeholder: ``,
          class: `span5`,
          id: `teaser`,
          type: `text`,
          extra: {
            required: true
          },
          validation: [{ required: true }]
        },
        {
          label: `Description`,
          placeholder: ``,
          id: `description`,
          type: `WYSIWYG`,
          extra: {
            required: true
          },
          validation: [{ required: true }]
        },
        {
          label: `Add an image`,
          type: `image-upload`,
          helpText: `All images must be in an aspect ratio of 16:9 or 1:1.`,
          extra: {
            displayPreview: true
          },
          nested: [
            {
              label: `Image title`,
              placeholder: ``,
              class: `input-100`,
              id: `thumbnailTitle`,
              type: `text`,
              extra: {
                required: true
              },
              validation: [{ required: true }]
            },
            {
              label: `Alt text (displays if the image cannot be loaded)`,
              placeholder: ``,
              class: `input-100`,
              id: `thumbnailAlt`,
              type: `text`,
              extra: {
                required: true
              },
              validation: [{ required: true }]
            },
            {
              label: `Caption text`,
              placeholder: ``,
              class: `input-100`,
              id: `thumbnailCaption`,
              type: `text`,
              extra: {
                required: true
              },
              validation: [{ required: true }]
            }
          ],
          validation: []
        },
        {
          label: `Twitter hashtag`,
          id: `hashtag`,
          helpText: `Don't include the # symbol eg WeAreInternational`,
          type: `text`
        },
        {
          label: `Language the event will be delivered in`,
          id: `eventLanguage`,
          options: this.$store.getters.options('eventLanguage'),
          type: `radio`,
          extra: {
            inline: true,
            required: true
          },

          validation: [{ required: true }]
        }
      ]
    };
  },
  methods: {
    validateForm() {},
    clearErrors() {
      this.errors.clear();
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        console.log(result);
        if (result) {
          return;
        }
      });
    }
  }
};
</script>
