<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'State8',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Who is the event for?',
      elements: [
        {
          label: 'Is this event aimed at xxx?',
          placeholder: '',
          id: 'departmentRequired',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('departmentRequired'),
        },
        {
          label: 'Which part of the University is it aimed at?',
          placeholder: '',
          id: 'department',
          type: 'checkbox',
          extra: {
            required: true
          },
          show: [
            {
              id: 'departmentRequired',
              operator: '=',
              values: ['Yes']
            }
          ]
        }

      ]
    };
  }
 
}
</script>
