<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'HelloWorld',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Where is this event taking place',
      elements: [
        {
          label: `Add tags for this events`,
          placeholder: ``,
          class: `span5`,
          id: `tag1`,
          type: `text`,
          extra: {
            required: true
          },
        },
        {
          label: `Choose a second tag for this events`,
          placeholder: ``,
          class: `span5`,
          id: `tag2`,
          type: `text`,
          extra: {
            required: true
          },
        },
        {
          label: `Choose a third tag for this events`,
          placeholder: ``,
          class: `span5`,
          id: `tag3`,
          type: `text`,
          extra: {
            required: true
          },
        },
      ]
    };
  }
 
}
</script>
