<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'State9',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Event type',
      elements: [
        {
          label: 'Does this event have a type?',
          placeholder: '',
          id: 'typeRequired',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('typeRequired'),
        },
        {
          label: 'Event type?',
          placeholder: '',
          id: 'type',
          type: 'checkbox',
          extra: {
            required: true
          },
          options: this.$store.getters.options('type'),
          show: [
            {
              id: 'typeRequired',
              operator: '=',
              values: ['Yes']
            }
          ]
        }

      ]
    };
  }
 
}
</script>
