<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'State12',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Series',
      elements: [
        {
          label: 'Is the event part of a series?',
          placeholder: '',
          id: 'seriesRequired',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('seriesRequired'),
        },
        {
          label: 'Choose the relevant series?',
          placeholder: '',
          id: 'topic',
          type: 'checkbox',
          options: this.$store.getters.options('series'),
          extra:{
            requried: true
          },
          show: [
            {
              id: 'seriesRequired',
              operator: '=',
              values: ['Yes']
            }
          ]
        }

      ]
    };
  }
 
}
</script>
