<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'State6',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Contact details',
      elements: [
        {
          label: 'Contact name or department',
          placeholder: '',
          class: 'span4',
          id: 'contactName',
          type: 'text',
          extra: {
            required: true
          }
        },
        {
          label: 'Phone number',
          helpText: 'Use the format +44 (0)29 2087 0298 or +44 (0)7790 123 456',
          placeholder: '',
          class: 'span4',
          id: 'contactNumber',
          type: 'text',
          extra: {
            required: true
          }
        },
        {
          label: 'Email address',
          placeholder: '',
          class: 'span4',
          id: 'contactEmail',
          type: 'email',
          extra: {
            required: true,
            validEmail: true
          }
        }
      ]
    };
  }
 
}
</script>
