<template>
  <div class="span8">
    <form
      class="ui form"
      @submit.prevent="onSubmit">
      <div
        class="field"
        :class="{error: errors.has('email')}">
        <label>Email</label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          v-validate="{required:true, url:true}"
          v-model="email">
        <span
          class="error"
          v-if="errors.has('email')">{{ errors.first('email') }}</span>
      </div>
      <button
        type="submit"
        class="ui submit button">Submit</button>
    </form>
    <!--  <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template> -->
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';
import Auth from '../../helpers/Auth';
export default {
  name: 'State3',
  components: {
    FieldElement
  },
  data() {
    return {
      email: '',
      name: `When is the event taking place?`,
      elements: [
        {
          label: ``,
          placeholder: ``,
          type: `date`,
          fields:{
            startDay: 'startDay',
            startMonth: 'startMonth',
            startYear: 'startYear',
            startHours: 'startHours',
            startMinutes: 'startMinutes',
            startMeridiem: 'startMeridiem',
            endDay: 'endDay',
            endMonth: 'endMonth',
            endYear: 'endYear',
            endHours: 'endHours',
            endMinutes: 'endMinutes',
            endMeridiem: 'endMeridiem',
          }
          
        }
      ]
    };
  }  
};
</script>
