<template>
  <div class="span8">
    <h2>{{ name }}</h2>
    <template v-for="element in elements">
      <field-element
        v-bind:key="element.assetid"
        v-bind:element="element"/>
    </template>
  </div>
</template>

<script>
import FieldElement from '../../components/elements/Element.vue';

export default {
  name: 'State4',
  components: {
    FieldElement
  },
  data() {
    return {
      name: 'Where is this event taking place',
      elements: [
        {
          label: 'Location',
          placeholder: '',
          class: 'span5',
          id: 'eventLocation',
          type: 'radio',
          extra: {
            required: true,
            inline: true
          },
          options: this.$store.getters.options('eventLocation')
        },
        {
          label: 'Room name or number',
          
          placeholder: '',
          class: 'span5',
          id: 'room',
          type: 'text',
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['internal', 'external']
            }
          ]
        },
        {
          label: 'First line of the address',
          
          placeholder: '',
          class: 'span5',
          id: 'externalAddress',
          type: 'text',
          extra: {
            required: true
          },
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['external']
            }
          ]
        },
         {
          label: 'Second line of the address',
          placeholder: '',
          class: 'span5',
          id: '',
          type: 'text',
          extra: {
            required: true
          },
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['external']
            }
          ]
        },
        {
          label: 'Town/city',
          placeholder: '',
          class: 'span3',
          id: 'externalCity',
          type: 'text',
          extra: {
            required: true
          },
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['external']
            }
          ]
        },
        {
          label: 'Postcode',
          placeholder: '',
          class: 'span3',
          id: 'externalPostcode',
          type: 'text',
          extra: {
            required: true
          },
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['external']
            }
          ]
        },
        {
          label: 'Provide the web address for the event',
          class: 'span5',
          id: 'onlineUrl',
          type: 'text',
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['online']
            }
          ]
        },
        {
          label: 'Building',
          class: 'span5',
          id: 'building',
          type: 'select',
          options: this.$store.state.options.buildings[0],
          show: [
            {
              id: 'eventLocation',
              operator: '=',
              values: ['internal']
            }
          ]
        }
      ]
    };
  },
  
};
</script>
