<template>
  <div class="row-fluid">
    <template v-for="(column, columnIndex) in $store.getters.options(element.id)">
      <div
        v-bind:class="'span'+parseInt(12 / Object.keys( $store.getters.options(element.id)).length)"
        v-bind:key="`column-${columnIndex}`">
        <template v-for="(option, valueIndex) in column">
          <label
            v-bind:class="['checkbox', element.extra != undefined && element.extra.inline ? 'inline':'']"
            v-bind:key="`checkbox${valueIndex}`">
            <input
              type="checkbox"
              v-bind:value="option.value"
              v-bind:name="element.id"
              v-bind="element.value"
              v-model="$parent.updateElement"
              v-bind:checked="{'checked': option.checked}"
              v-bind:aria-label="element.screen_reader"
              v-bind:data-vv-as="fieldName != null ? fieldName : ''"
              v-validate="columnIndex == 0 && valueIndex == 0 ? rules: ''"> {{ option.key }}
          </label>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'CheckboxField',
  inject: ['$validator'],
  props: {
    element: {
      type: Object,
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: null
    }
  },
  mounted () {
    console.log(this.element, this.$store.getters.options(this.element.id))
  }
};
</script>