<template>
  <span>
    <input
      type="file"
      v-bind:accept="element.fileType"
      v-bind:class="'hidden'"
      v-on:change="changeThumbnail"
      v-bind:id="element.id"
      v-bind:name="element.id"
      v-bind:aria-label="element.screen_reader"
      v-bind:data-vv-as="fieldName != null ? fieldName : ''">
    <label
      v-bind:class="['btn', (element.class != undefined) ? element.class : 'btn-default', ( element.extra != undefined && element.extra.required == true ? 'required' : '' )]"
      v-bind:for="element.id">{{ buttonText }}</label>
  </span>  
</template>

<script>
export default {
  name: 'FileField',
  inject: ['$validator'],
  props: {
    element: {
      type: Object,
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      buttonText: (this.$store.getters.thumbnailImage != '') ? this.element.selectedText : this.element.defaultText,
    } 
  },
  methods: {
    validate () {},
    changeThumbnail ( evt ) {
      const files = evt.target.files || evt.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage (file) {
      var reader = new FileReader();
      const self = this;

      reader.onload = (e) => {
        self.buttonText = self.element.selectedText;
          self.$store.commit('updateValue', {
            name: self.element.id,
            value: e.target.result
          }
          
       );
       console.log(1);
      };
      reader.readAsDataURL(file);
    }
  }
};
</script>