<template>
  
  <select
    v-bind:id="element.id"
    v-bind:name="element.id"
    v-bind:class="element.class"
    v-bind:aria-label="element.screen_reader"
    v-model="$parent.updateElement"
    v-bind:data-vv-as="fieldName != null ? fieldName : ''"
    v-validate="rules"
    multiple>
    <option
      v-for="option in element.options"
      v-bind:value="option.value"
      v-bind:selected="option.selected"
      v-bind:key="option.value">
      {{ option.key }}
    </option>
  </select>
</template>

<script>
export default {
  name: 'MultiSelectField',
  inject: ['$validator'],
  props: {
    element: {
      type: Object,
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: null
    }
  }
};
</script>