<template>
  <input
    type="number"
    v-bind:class="element.class"
    v-bind:id="element.id"
    v-model="$parent.updateElement"
    v-bind:placeholder="element.placeholder"
    v-bind:min="element.extra.min"
    v-bind:max="element.extra.max"
    v-bind:aria-label="element.screen_reader"
    v-bind:data-vv-as="fieldName != null ? fieldName : ''"
    v-validate="rules">
</template>

<script>
export default {
  name: 'NumberField',
  inject: ['$validator'],
  props: {
    element: {
      type: Object,
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: null
    }
  }
};
</script>