<template>
  <div class="row-fluid">
    <template v-for="(column, columnIndex) in element.options">
      <div
        v-bind:class="'span'+parseInt(12 / Object.keys(element.options).length)"
        v-bind:key="`column-${columnIndex}`">
        <template v-for="(option, valueIndex) in column">
          <label
            v-bind:class="['radio', element.extra.inline != undefined ? 'inline':'']"
            v-bind:key="`radio-${option.value}`"
            v-bind:aria-label="element.screen_reader">
            <input
              type="radio"
              v-on:change="$parent.validate"
              v-bind:value="option.value"
              v-bind:name="element.id"
              v-model="$parent.updateElement"
              v-bind:data-vv-as="fieldName != null ? fieldName : ''"
              v-validate="(valueIndex == 0 && columnIndex == 0 )? rules: ''"> {{ option.key }}
          </label>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'RadioField',
  inject: ['$validator'],
  props: {
    element: {
      type: Object,
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: null
    }
  }
};
</script>