<template>
  <input
    type="text"
    v-bind:id="element.id"
    v-bind:name="element.id"
    v-bind:class="element.class"
    v-validate="rules"
    v-model="$parent.updateElement"
    v-bind:placeholder="element.placeholder"
    v-bind:aria-label="element.screen_reader"
    v-bind:data-vv-as="fieldName != null ? fieldName : ''">
</template>

<script>
export default {
  name: 'TextField',
  inject: ['$validator'],
  props: {
    element: {
      type: Object,
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    fieldName: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      validationRules: ''
    }
  },
  computed:{
    updateElement:{
      get() {
        return this.$store.state.fields[this.element.id];
      },
      set(value) {
        this.$store.commit('updateValue', {
          name: this.element.id,
          value: value
        });
      }
    },

  },
  methods: {
    validate: function() {},
    
  }
  
};
</script>
