<template>
  <div>
    <textarea
      v-bind:id="id"
      v-bind:name="id"
      v-bind:value="value"
      v-validate="rules"
      v-on:input="alert(1)"/>
  </div>
</template>

<script>
export default {
  name: 'TinyMCE',
  inject: ['$validator'],
  props: {
    id: {
      type: String,
      default: 'editor'
    },
    value: {
      type: String,
      default: ''
    },
    toolbar: {
      type: String,
      default: ''
    },
    menubar: {
      type: String,
      default: ''
    },
    otherProps: {
      type: String,
      default: ''
    },
    baseURL: {
      type: String,
      default: ''
    },
    rules: {
      type: Object,
      required: true
    }
  },
  mounted() {
    tinymce.baseURL = this.baseURL;
    tinymce.init({
      selector: `#${this.id}`,
      inline: false,
      theme: 'modern', // TinyMCE theme
      menubar: '',
      height: 250, // Initial height of each TinyMCE instance
      valid_elements:
        'p,a[href|target|class|title],ul[class:list],ol[class:list],li', // Valid elements to be retained
      invalid_elements: 'blockquote,img', // Elements to be removed
      paste_word_valid_elements:
        'p,ul,ol,li', // Elements allowed when pasted from Word
      valid_classes: {
        a: 'embed', // Link specific classes
        ul: 'list', // List specific classes
        ol: 'list', // List specific classes
      },
      link_class_list: [
        { title: 'None', value: '' },
        { title: 'Embed', value: 'embed' }
      ],
      plugins: [
        // List of plugins allowed
        'autolink link lists'
      ],
      toolbar:
        'undo redo | bullist numlist | link ', // Toolbars to initialise
      
      init_instance_callback: editor => {
        editor.on('KeyUp', e => {
          this.$emit('input', editor.getContent());
        });

        editor.on('Change', e => {
          console.log()
          this.$emit('input', editor.getContent());
        });

        editor.setContent(this.value);
      },
      elementpath: false,
      statusbar: false,
      link_title: false,
      target_list: false,
      link_class_list: false
      });
  },
  destroyed() {
    tinymce.get(this.id).destroy();
  }
};
</script>