<template>
  <div v-bind:class="['progress-steps-bar bar-'+index, (status > 1 ) ? 'active': '']" />
</template>

<script>
export default {
  name: 'Bar',
  props: {
    index : {
      type: Number,
      required: true
    },
    status: {
      type: Number,
      required: true
    }
  }
}
</script>