<template>
  <div class="span12">
    <div 
      id="progress-steps"
      v-bind:class="['progress-steps hidden-phone', this.$store.state.currentState == 1 ? 'hidden' : '']"
      v-bind:data-steps="total" >
      <template v-for="(status, index) in this.$store.state.states">
        <template v-if="(index != 1)">
          <step
            v-bind:key="index"
            v-bind:index="index - 1"
            v-bind:status="status"/>
          <template v-if="(index != total + 1)">
            <bar
              v-bind:key="'bar-'+index"
              v-bind:index="index - 1"
              v-bind:status="status" />
          </template>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import Step from '../../components/progress/Step.vue';
import Bar from '../../components/progress/Bar.vue';
export default {
  name: 'Progress',
  components: {
    Step,
    Bar
  },
  data() {
    return {
      total: Object.keys(this.$store.state.states).length - 1
    };
  }
  
};
</script>