<template v-if="(index != 1)">
  <div v-bind:class="['progress-steps-item item-'+index, (status == 1 || status == 3) ? 'active': '', (status >= 2) ? 'completed': '']"/>
</template>

<script>
export default {
  name: 'Step',
  props: {
    index : {
      type: Number,
      required: true
    },
    status: {
      type: Number,
      required: true
    }
  }
}
</script>