<template>
  <div class="span8">
    <h1>Enabling edit mode</h1>
  </div>
</template>

<script>

export default {
  name: 'EditMode',
  beforeRouteUpdate: (to, from, next)  => {
    if(to.props.assetid !== undefined) {

      this.$store.commit('addAssetid', to.props.assetid);
      //this.router.push({name: '/'});
    } else {
      
      this.router.push({name: '/'});
    }
  }
}
</script>