<template>
  <div class="span8">
    <h1>Opps, there seems to be something wrong</h1>
    <p v-text="message.replace(/-/g, ' ')"/>

    <a
      v-on:click="goToStart"
      class="btn btn-default btn-large">Go back to start</a>
  </div>
</template>

<script>
import Navigation from '../helpers/Navigation.js'
export default {
  name: 'SideBar',
  props:{
    message:{
      type: String,
      required: true
    }
  },
  data() {
    return {
      title: 'Any questions',
      text:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus turpis mauris, at lobortis lorem.'
    };
  },
  methods: {
    goToStart: () => {
      console.log(1);
      this.$store.commit('updateErrorStatus', false);
      Navigation.back(2);
    }
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
