<template>
  <header
    id="header"
    class="global-header global-header-small">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a
            class="intranet-brand"
            href="#">
            <span v-html="this.$parent.name"/>
          </a>
          <!-- Nav -->
          <div class="nav-intranet navbar">
            <div class="navbar-inner">
              <ul class="nav">
                <li class="login">
                  <a
                    href="#"
                    target="_blank">Event creation help</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /Nav -->
        </div>
      </div>
    </div>
  </header>
</template>

<script>

export default {
  name: 'Header'
}
</script>