
<template>
  <div
    class="form-controls"
    v-show="($store.getters.currentState >= 2 && ($store.getters.currentState != 3 || $store.getters.currentState[1] != 1))">
    <a
      v-on:click="( $store.getters.currentState != 2 ) ? back() : null"
      v-bind:class="['btn btn-default btn-large', $store.getters.currentState <= 2 ? 'disabled': '']">Previous</a>
    <template v-if="$store.getters.currentState != 12">
      <button
        v-bind:type="'submit'"
        v-on:click="$parent.validateBeforeSubmit"
        class="btn btn-success btn-large">{{ continueText }}</button>
    </template>
    <template v-if="$store.getters.currentState == 12">
      <button
        v-bind:type="'submit'"
        v-on:click="createEvent"
        class="btn btn-success btn-large">{{ createText }}</button>
    </template>
  </div>
</template>

<script>
import VeeValidate from 'vee-validate';
import Navigation from "../helpers/Navigation";
import store from "../storage/store.js";
export default {
  name: 'Navigation',
  data() {
    return {
      continueText: 'Continue',
      createText: 'Create event'
    };
  },
  methods: {
    createEvent: () => {
      this.$validateAll()
    },
    proceed: () => {
      Navigation.validate();
    },
    back: () => Navigation.back(store.getters.currentState - 1)
  }
};

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
