<template>
  <div class="span4">
    <section class="box box-calltoaction">
      <header class="box-header">
        <h1 class="box-title">{{ title }}</h1>
      </header>
      <section class="contact">
        <p>{{ text }}</p>
        <ul class="list list-contact">
          <li>
            <i class="icon-email">
              <span class="hidden-text">Email:</span>
            </i>
            <a v-bind:href="'mailto:this.$parent.$parent.contactEmail'">{{ this.$parent.$parent.contactEmail }}</a>
          </li>
        </ul>
      </section>
    </section>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  data() {
    return {
      title: 'Any questions',
      text:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus turpis mauris, at lobortis lorem.'
    };
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
