<template>
  <div
    v-bind:class="['control-group', ( (($children[0] !== undefined) ? $children[0].errors.has(element.id) : false )? 'has-feedback error' : '' )]"
    v-show="show()">
    <label
      v-bind:class="['control-label', (element.extra != undefined && element.extra.required == true)? 'required' : '']"
      v-bind:for="element.id">{{ element.label }}</label>
    <span
      class="grey-text"
      v-if="element.helpText">{{ element.helpText }}</span>
    <div class="controls">

      <template v-if="(element.type == 'text')">
        <text-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'email')">
        <email-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'number')">
        <number-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'checkbox')">
        <checkbox-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'radio')">
        <radio-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'select')">
        <select-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'multi-select')">
        <multi-select-field
          v-bind:element="element"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:field-name="field_name"/>
      </template>

      <template v-if="(element.type == 'WYSIWYG')">
        <tiny-mce
          v-bind:element="element"
          v-model="updateElement"
          v-validate="rules"
          v-bind:rules="rules"
          v-bind:data-vv-as="field_name"/>
      </template>

      <template v-if="(element.type == 'image-upload')">
        <div
          class="upload-container"
          v-if="$store.getters.thumbnailImage == ''">
          <div class="container-icon">
            <i class="icon-camera icon-xlarge"/>
          </div>
          <file-field
            v-bind:element="{defaultText: 'Choose an image', selectedText: 'Change image', class: 'btn-primary', id: 'thumbnailImage', fileType: 'image/*'}"
            v-bind:rules="rules"
            v-bind:field-name="field_name"/>
          <span
            class="grey-text"
            v-text="element.helpText"
            v-if="element.helpText" />
        </div>
        <div
          class="row"
          v-if="$store.getters.thumbnailImage != ''">
          <div class="span4">
            <figure class="image">
              <template v-if="$store.getters.thumbnailImage != ''">
                <img 
                  v-bind:src="$store.getters.thumbnailImage"
                  alt="Selected image">
              </template>
            </figure>
            <div class="control-group">
              <div class="controls">
                <button
                  v-bind:class="'btn btn-default'"
                  v-on:click="removeImage">Remove image</button>
                <file-field v-bind:element="{defaultText: 'Choose an image', selectedText: 'Change image', id: 'thumbnailImage', fileType: 'image/*'}"/>
              </div>
            </div>
          </div>
          <div class="span4">
            <template v-for="(nestedElement, index) in element.nested">
              <element-field
                v-bind:element="nestedElement"
                v-bind:key="index" />
            </template>
          </div>
        </div>
      </template>
    </div>
    <error-field
      v-if="($children[0] != undefined) ? $children[0].errors.has(element.id): false"
      v-bind:error-bag="($children[0] !== undefined) ? $children[0].errors.collect(element.id): {}" />
  </div>
</template>

<script>
import TextField from './types/Text.vue';
import NumberField from './types/Number.vue';
import CheckboxField from './types/Checkbox.vue';
import RadioField from './types/Radio.vue';
import SelectField from './types/Select.vue';
import MultiSelectField from './types/MultiSelect.vue';
import EmailField from './types/Email.vue';
import TinyMce from './types/WYSIWYG.vue';
import FileField from './types/File.vue';
import ErrorField from './Error.vue';

export default {
  name: 'ElementField',
  inject: ['$validator'],
  components: {
    TextField,
    CheckboxField,
    RadioField,
    NumberField,
    SelectField,
    MultiSelectField,
    EmailField,
    TinyMce,
    FileField,
    ErrorField
  },
  props: {
    element: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      nestedHtml: '',
      rules: {},
      field_name: '',
      messages: {
        custom: {}
      }
    };
  },
  computed: {
    updateElement: {
      get() {
        return this.$store.state.fields[this.element.id];
      },
      set(value) {
        this.$store.commit('updateValue', {
          name: this.element.id,
          value: value
        });
      }
    }
  },
  beforeMount() {
    this.createRules();
    this.show();
  },
  methods: {
    show(element) {
      element = element || this.element;
      if (element.show != undefined) {
        //return this.$store.state.fields.eventLocation == 'online';
        let matches = 0;
        for (let check of element.show) {
          let matched = false;
          for (const value of check.values) {
            if (status == true) {
              break;
            } else {
              switch (check.operator) {
                case '!=':
                  if (this.$store.getters.fieldValue(check.id) != value) {
                    matched = true;
                  }
                  break;
                case '>':
                  if (this.$store.getters.fieldValue(check.id) > value) {
                    matched = true;
                  }
                  break;
                case '>=':
                  if (this.$store.getters.fieldValue(check.id) >= value) {
                    matched = true;
                  }
                  break;
                case '<':
                  if (this.$store.getters.fieldValue(check.id) < value) {
                    matched = true;
                  }
                  break;
                case '<=':
                  if (this.$store.getters.fieldValue(check.id) <= value) {
                    matched = true;
                  }
                  break;
                case 'contains':
                  if (
                    typeof this.$store.getters.fieldValue(check.id) == Object ||
                    typeof this.$store.getters.fieldValue(check.id) == Array
                  ) {
                    if (
                      this.$store.getters.fieldValue(check.id)[value] !=
                      undefined
                    ) {
                      matched == true;
                    }
                  } else {
                    console.log(check.id);
                  }
                  break;
                default:
                  if (this.$store.getters.fieldValue(check.id) == value) {
                    matched = true;
                  }
                  break;
              }
            }
          }
          if (matched == true) matches++;
        }
        if (matches == Object.keys(this.element.show).length) {
          return true;
        }
        return false;
      }
      return true;
    },
    createRules() {
      if ( this.element.validation != undefined && this.element.validation.length > 0 ) {
        for (let rule of this.element.validation) {
          /* Add custom error message if available */
          if(rule.message !== undefined) {
            
            if(this.messages.custom[this.element.id] === undefined) this.messages.custom[this.element.id] = {};
            
            this.messages.custom[this.element.id][Object.keys(rule)[0]] = rule.message;

            /* Delete message from object - ensure type declartion check passes */
            delete rule.message;
          }

          if(rule.field_name !== undefined) {
            this.field_name = rule.field_name;
            
            /* Remove field_name from object - ensure type declartion check passes */
            delete rule.field_name;
          }

          if (this.$store.getters.validValidationType(rule)) {
            if (typeof Object.values(rule)[0] == 'array') {
              rule = rule.join();
            }
            
            this.rules[Object.keys(rule)[0]] = Object.values(rule)[0];
          }
        }

      this.$validator.localize('en', this.messages);
       console.log(this.$validator);
      }
    },
    updateImageStatus() {
      this.uplaodNewVisible = this.$store.state.fields.hasImage;
      this.$store.commit('updateValue', {
        name: 'hasImage',
        value: !this.$store.state.fields.hasImage
      });
    },
    removeImage() {
      this.uplaodNewVisible = this.$store.state.fields.hasImage;
      this.$store.commit('updateValue', {
        name: 'hasImage',
        value: false
      });
      this.$store.commit('updateValue', {
        name: 'thumbnailImage',
        value: ''
      });
      this.$store.commit('updateValue', {
        name: 'thumbnailTitle',
        value: ''
      });
      this.$store.commit('updateValue', {
        name: 'thumbnailAlt',
        value: ''
      });
      this.$store.commit('updateValue', {
        name: 'thumbnailCaption',
        value: ''
      });
    }
  }
};
</script>
<style lang="less" scoped>
  .grey-text {
    color: #999999;
    font-size: 14px;
    display: block;
  }
  .upload-container {
    max-width: 370px;
    width: ~'calc(100% - 90px)';
    border: 1px solid #cccccc;
    text-align: center;
    padding: 45px 45px 24px 45px;

    .container-icon {
      margin-bottom: 18px;
    }
    .upload-btn {
      margin-bottom: 38px !important;
    }
    .grey-text {
      color: #999999;
      font-size: 14px;
      display: block;
    }
  }
  </style>

  <style lang="less">
  input.input-100 {
    width: 100% !important;
  }
  .required::after {
    content: ' *';
    color: #d4374a;
  }
</style>
