<template>
  <span class="help-block error-message">
    
    <template v-for="(error, index) in errorBag">
      <span
        class="error-item"
        v-if="index == 0"
        v-bind:key="index">
        <i class="icon-warning" />{{ error }}
      </span>
      <span
        class="error-item"
        v-if="index != 0"
        v-text="error"
        v-bind:key="index"/>
    </template>
  </span>
</template>

<script>
export default {
  name: 'Error',
  props: {
    errorBag: {
      type: Array,
      required: true
    }
  },

};
</script>
<style lang="less" scoped>
  .error-item:not(:first-child) {
    margin-left: 21px;
    display: block;
  }
</style>
