<template>
  <div
    id="content"
    class="content">
    <div class="container">
      <div class="row">
        <!--<progress-steps/>-->
        <router-view/>
        <side-bar v-if="$store.state.currentState > 1"/>s
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Auth from "./helpers/Auth.js";
import SideBar from "./components/SideBar.vue";
import ProgressSteps from "./components/progress/Progress.vue";
import Navigation from "./components/Navigation.vue";

export default {
  name: "App",
  components: {
    SideBar,
    ProgressSteps,
    Navigation
  },
  computed: {},
  beforeCreate() {
    if (this.$router.history.current.name != "ErrorPage") {
      Auth.check();
    }
  },
  methods:{
    validate: () => {
      this.$validator.validateAll().then((result) => {
        console.log(result);
      });
    }
  }
};
</script>
